@import '@/assets/styles/variables.scss';

.rations {
  padding: 30px 0;
  height: 636px;

  background: url('@/assets/images/rations/rations-bg-1920.png') no-repeat
    center center / cover;

  position: relative;

  &__leaf {
    width: 248px;

    position: absolute;
    bottom: -9px;

    pointer-events: none;

    img {
      width: 100%;
    }
  }

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 47px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__headerTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__headerButton {
    padding: 10px;
    gap: 9px;

    border-color: $color-yellow;
  }

  &__carouselNext {
    width: 46px;
    height: 46px;
    border-radius: 10px;
    background: red;
  }
}
