@import '@/assets/styles/variables.scss';

.faq {
  padding: 30px 0;

  color: $color-dark-gray;

  position: relative;

  &__leaf {
    width: 180px;

    position: absolute;
    top: 18px;

    img {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    text-align: center;
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
