@import '@/assets/styles/variables.scss';

.iconWrapper {
  width: 44px;
  height: 44px;

  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: $color-yellow;
}
