@import '@/assets/styles/variables.scss';

.calculatorFormWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calculatorForm {
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background: url('@/assets/images/calculatorForm/calculator-form-bg-1920.png')
    no-repeat center center / cover;
  border-radius: 20px;

  &__textWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;
  }

  &__title {
    font-size: 18px;
  }

  &__fields {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    position: relative;
    z-index: 0;

    border-radius: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      border-radius: 20px;

      backdrop-filter: blur(15px);
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}

.question {
  display: flex;
  flex-direction: column;
  gap: 15px;

  position: relative;

  &__title {
    font-size: 1rem;
    text-align: center;
  }

  &__inputs {
    display: flex;
    justify-content: center;
    gap: 10px;

    & > * {
      width: 100%;
    }
  }

  &__checkboxInput {
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &__error {
    position: absolute;
    bottom: -23px;
    left: 0;

    font-size: 1rem;
    color: #ff0000;
  }
}

.calculatorResult {
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;

  border: 1px solid $color-slightly-gray;
  border-radius: 20px;

  &__title {
    font-weight: 600;
    font-size: 18px;
    color: $color-gray;
  }

  &__button {
    grid-column: 1 / 3;
  }
}

.energyCard {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: $color-yellow;
  border-radius: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__description {
    color: $color-light-gray;
  }

  &__energy {
    padding: 15px;

    display: flex;
    justify-content: space-between;

    border-radius: 10px;
    background-color: #9d8300;
  }
}

.rationCard {
  padding: 20px;

  display: grid;
  grid-template-columns: 160px auto;
  column-gap: 15px;
  row-gap: 20px;

  &__title {
    grid-column: 1 / 3;
  }

  &__image {
    background-color: #efefef;
    border-radius: 20px;

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__rationInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__energy {
    font-size: 18px;
    color: $color-yellow;
  }

  &__price {
    font-size: 24px;
    color: $color-light-gray;
  }
}
