@import '@/assets/styles/variables.scss';

.listItem {
  display: flex;
  align-items: center;
  gap: 15px;

  &__iconWrapper {
    width: 26px;
    height: 26px;
    border-radius: 10px;
    background: $color-yellow;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
