@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import '@/assets/styles/reset.scss';
@import '@/assets/styles/container.scss';

:root {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  line-height: 1;
}

#root {
  width: 100vw;
  height: 100vh;
}
