$color-gray: #3f3f3f;
$color-light-gray: #686868;
$color-dark-gray: #343434;
$color-super-light-gray: #f5f6f2;
$color-slightly-gray: #e6e6e6;
$color-almost-white: #f4f4f4;

$color-yellow: #ffd500;
$color-dark-yellow: #d9b500;
$color-light-yellow: #ffeec2;
$color-strange-yellow: #deb855;

$color-faded-green: #216d54;
$color-cool-green: #104223;

$color-transparent: rgba(0, 0, 0, 0);

$font-family: 'Montserrat', sans-serif;
$second-family: 'Montserrat Alternates', sans-serif;

$fast-transition: all 0.2s;
$default-transition: all 1s;
